<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piropa_field_test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
 	
 	<permission
        android:name="com.pirora_field_test.android.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    
 	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
 	
 	<uses-permission android:name="com.pirora_field_test.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_piropa"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.piropa_field_test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.piropa_field_test.LogActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity
            android:name="com.piropa_field_test.DataSave"
            android:label="@string/app_name">
        </activity>
        
        <activity
            android:name="com.piropa_field_test.DatabaseHandler"
            android:label="@string/app_name">
        </activity>
             
            
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" 
        android:value="AIzaSyCibNws_NAW2hLBIULA2-e-YsPZayWp_7Y"/>
        <service
		  android:name=".services.MeasureService"
		  android:icon="@drawable/ic_launcher"
		  android:label="@string/service_name"
		  >
		</service> 
		<service
		  android:name=".services.TowerService"
		  android:label="@string/service_name"
		  >
		</service> 
    </application>
    
    
    
        
</manifest>
